
.form1{
    display: block;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 15px;
}


@media (max-width: 920px) {

    .form1{
        
        width: 90%;
    }
}
